<div class="layout">
    <div class="columns">

        <!-- Category -->
        <div class="flex flex--row flex--left flex--top flex--wrap" style="max-width: 15ch;">
            <span class="text-bold" style="font-size:16px;">{{ results[0].category }}</span>
        </div>
        
        <!-- Question -->
        <div class="flex flex--col flex--center-x border--v-2 p--2">
            <span class="text-bold clamp--none" style="font-size:22px;">{{ results[0].question }}</span>
        
        <!-- Options Multiple Choice, True or False -->
            <!-- if multiple choice -->
            {% if results[0].type == "multiple" %}
            <!-- No shuffle or randomize with trmnl or liquid so had to it with javascript using Fisher-Yates shuffle -->
                <script>
                const all_answers = [];

                {% for ans in results[0].incorrect_answers %}
                    all_answers.push("{{ ans | jsonify }}");
                {% endfor %}
                all_answers.push("{{ results[0].correct_answer | jsonify }}");

                for (let i = all_answers.length - 1; i > 0; i--) {
                    const j = Math.floor(Math.random() * (i + 1));
                    [all_answers[i], all_answers[j]] = [all_answers[j], all_answers[i]];
                }
                all_answers.forEach(a => {
                    document.write(`<span class="text-bold" style="font-size:19px;">${a}</span>`);
                });
                </script>
            {% endif %}

            <!-- if true or false -->
                {% if results[0].type == "boolean" %}
                    <span class="text-bold mt--2" style="font-size:20px;">True or False </span>
                {% endif %}
        </div>

        <!-- Question Difficulty Level -->
        <div class="flex flex--col flex--right  border--v-2 p--1">
                <span class="text-bold" style="font-size:14px;">Difficulty-{{ results[0].difficulty | capitalize }} </span>
                {% assign answer = results[0].correct_answer%}
                <span class="text-bold" style="font-size:12px;">ANSWER</span>
                <img src="https://api.qrserver.com/v1/create-qr-code/?size=50x50&data={{ answer | url_encode}}" alt="Answer" />        
        </div> 
        <!-- QR code for answer -->
        

    </div>
</div>

<!-- title bar-->
<div class="title_bar">
    <span class="title">Open Trivia DB</span>
    <span class="instance">Trivia Questions</span>
</div>